@model TatBlog.WebApp.Areas.Admin.Models.PostEditModel


 <div class="form-check">
                            <input class="form-check-input"
                           type="checkbox"
                           asp-for="Published" />
                            <label class="form-check-label"
                           asp-for="Published"></label>
                        </div>