

<div class="my-4">
	<partial name="_SearchForm" />

	@await Component.InvokeAsync("CategoriesWidget")
	@await Component.InvokeAsync("FeaturesWidget")
	@await Component.InvokeAsync("RadomWidget")
	@await Component.InvokeAsync("TagCloudWidget")
	@await Component.InvokeAsync("BestAuthors")
</div> 



